html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background: #FF2929;
    background: linear-gradient(218deg,rgba(255, 41, 41, 1) 0%, rgba(32, 29, 29, 1) 30%, rgba(29, 29, 29, 1) 100%);
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #d8d8d8;
    display: inline;
    text-align: bottom;
    align-items: center;
    border-bottom: solid #1d1d1d 3px;
    border-top: solid #1d1d1d 3px;
}
.name{
    font-size: 40px;
    font: bold;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -23px;
}
ul.nav li{
    display: inline;
    margin: 15px;
    padding: 5px;
    margin-left: 5px;
}
ul.nav li:hover{
    text-decoration: overline;
    text-decoration-color: #ff2929;
}
a{
    text-decoration: none;
    color: #d8d8d8;
}

.circulo{
    border-radius: 50%;
    background: #ff2929;
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 10px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.product {
    width: 220px;
    height: 300px;
    animation: anima 3s infinite;
    transition: 0.2s all;
}

.product:hover{
    animation-play-state: paused;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(4px 6px 10px rgba(7, 113, 145, 0.5));
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 10px;
}

.product img:hover {
    transform: scale(1.05);
}
/*
#ff2929 Rojo
#2974ff Azul
#ff7728 Naranja
#d8d8d8 Blanco
#1d1d1d negro
*/

@keyframes anima{
    0%{

    }
    50%{
        transform: translateY(-8px);
    }
}